<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="/dist/bundle.js"></script>
    <title>Mybrary</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <div class="inner-container">
        <%- include('../partials/errorMessage') %>
        <%- body %>
        </div>
    </div>
</body>
</html>