<h2 class="page-header">New user</h2>
<form action="/login" method = "POST">
    <div class="form-row form-item">
        <%- include('./_form_fields') %>
    </div>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/login">Cancel</a>
        <button class="btn btn-primary" type = "submit"> Create</button>
    </div>
</form>